/* * is a universal selector, it selects every element. Since different browsers
  use different default margins, setting all margins and paddings to zero makes 
  things more consistent. This is called a reset. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: tan;
  overflow: visible;
}

#stock-container {
  width: 98vw;
  height: 25vh;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  background-color: #85BB65;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

.stock-element {
  padding: 10px;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  border: white 1px solid;
}

#end-round:disabled {
  position: relative;
  color: black;
  background-color: grey;
  border: 2px inset black;
  border-radius: 5px;
  width: 150px;
  height: 25px;
}

#end-round:enabled {
  position: relative;
  /* padding: 10px; */
  color: black;
  background-color: lightskyblue;
  border: 2px inset black;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  cursor: pointer;
}

#end-round-div {
  padding-left: 13%;
}

#end-round:hover:enabled {
  background-color: aqua;
}

#end-round:active:enabled {
  border: 2px solid white;
}

#round-counter {
  color: white;
  background-color: teal;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px inset black;
  border-radius: 5px;
}

#rounds {
  padding-top: 20%;
  padding-left: 25%
}

#player-trade-button {
  position: relative;
  display: block;
  color: black;
  background-color: #85BB65;
  height: 25px;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 3px;
}

#player-trade-button:hover:enabled {
  background-color: lightgreen;
}

#player-trade-button:active:enabled {
  background-color: lightgreen;
  border-color: white;
}

#player-container {
  position: absolute;
  bottom: 0;
  /* my attempt at centering this damn div */
  margin-left: 10vw;
  margin-bottom: 1vh;
  width: 80vw;
  height: 50vh;

  /* background-color: grey; */
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 10px;
}

#player-container>div {
  border: 3px solid black;
  border-radius: 3px;
}

#player-container>.player:nth-child(1) {
  background-color: rgb(0, 168, 150);
}

#player-container>.player:nth-child(2) {
  background-color: rgb(254, 127, 45);
}

#player-container>.player:nth-child(3) {
  background-color: rgb(250, 240, 202);
}

#player-container>.player:nth-child(4) {
  background-color: rgb(49, 133, 252);
}

.player {
  background-color: orangered;
  color: black;
  font-size: 20px;
  padding: 10px;
  border: black 1px solid;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player-name {
  width: 100px;
}

.buy-button {
  margin-right: 10px;
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: green;
  color: black;
}

.buy-button:disabled {
  margin-right: 10px;
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: grey;
  color: black;
}

.buy-button:hover:enabled {
  background-color: greenyellow;
}

.buy-button:active:enabled {
  border: 2px solid white;
}

.sell-button {
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.sell-button:disabled {
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: grey;
  color: black
}

.sell-button:hover:enabled {
  background-color: darkred;
}

.sell-button:active:enabled {
  border: 2px solid white
}

/* end game modal */
.modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.6);
}

#end-modal-content {
  display: grid;
  grid-template-columns: 1fr;
  background-color: green;
  /* 15% from the top and centered */
  margin: 15% auto;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  height: 60vh;
  width: 80vw;
}

#winner-info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 10px;
  background-color: greenyellow;
  border: 3px solid black;
  border-radius: 5px;
  max-height: 60%;
}

.winner-div {
  margin: 2px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 20px;
}

#end-game-info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 10px;
  color: white;
  background-color: red;
  border: 3px solid black;
  border-radius: 5px;
  max-height: 60%;
}

/* Close button for end game modal */
.modal-close-button {
  position: relative;
  width: 10vw;
  color: black;
  background-color: orange;
  border: 3px solid black;
  border-radius: 5px;
  margin: auto 45%;
  padding: 3px;
  font-size: 20px;
  font-weight: bold;
}

.modal-close-button:hover {
  background-color: orangered;
  text-decoration: none;
  cursor: pointer;
}

#modal-close-button:active {
  border-color: white;
}

#trade-modal {
  display: block;
  position: absolute;
}

#trade-form {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin: 10% auto;
  height: 60vh;
  width: 75vw;
  background-color: teal;
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
}

#trade-form>div {
  border: 2px black solid;
  margin: 5px;
  padding: 5px;
}

select {
  background-color: skyblue;
}

.increase-offer-button {
  width: 20px;
  color: white;
  background-color: green;
  border: 2px solid black;
}

.decrease-offer-button {
  width: 20px;
  color: white;
  background-color: red;
  border: 2px solid black;
}

.trade-input {
  width: 20px;
  text-align: center;
  margin: 0px 5px;
}

.cash-input {
  width: 60px;
  text-align: center;
  margin: 0px 5px;
}

.open-modal-button {
  display: none;
}