/* * is a universal selector, it selects every element. Since different browsers
  use different default margins, setting all margins and paddings to zero makes 
  things more consistent. This is called a reset. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: tan;
}

#stock-container {
  width: 100vw;
  height: 25vh;
  padding: 10px;
  margin: 0 auto;
  background-color: greenyellow;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

.stock-element {
  padding: 10px;
  background-color: darkgreen;
  color: white;
  border: black 1px solid;
}

#end-round {
  position: relative;
  /* padding: 10px; */
  background-color: lightskyblue;
  border: 2px inset black;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  cursor: pointer;
}

#end-round-div {
  padding-left: 13%;
}

#end-round:hover {
  background-color: aqua;
}

#end-round:active {
  border: 2px solid white;
}

#round-counter {
  color: white;
  background-color: teal;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px inset black;
  border-radius: 5px;
}

#rounds {
  padding-top: 20%;
  padding-left: 25%
}

#player-container {
  position: absolute;
  bottom: 0;
  /* my attempt at centering this damn div */
  margin-left: 10vw;
  margin-bottom: 1vh;
  width: 80vw;
  height: 50vh;

  /* background-color: grey; */
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 10px;
}

#player-container>.player:nth-child(1) {
  background-color: rgb(0, 168, 150);
}

#player-container>.player:nth-child(2) {
  background-color: rgb(254, 127, 45);
}

#player-container>.player:nth-child(3) {
  background-color: rgb(250, 240, 202);
}

#player-container>.player:nth-child(4) {
  background-color: rgb(49, 133, 252);
}

.player {
  background-color: orangered;
  color: black;
  font-size: 20px;
  padding: 10px;
  border: black 1px solid;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player-name {
  width: 100px;
}

.buy-button {
  margin-right: 10px;
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: green;
  color: black;
}

.buy-button:hover {
  background-color: greenyellow;
}

.buy-button:active {
  border: 2px solid white;
}

.sell-button {
  width: 70px;
  height: 25px;
  border: 2px inset black;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.sell-button:hover {
  background-color: darkred;
}

.sell-button:active {
  border: 2px solid white
}

/* end game modal */
#end-modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.6);
}

#end-modal-content {
  background-color: wheat;
  /* 15% from the top and centered */
  margin: 15% auto;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  height: 60vh;
  width: 80vw;
}

/* Close button for end game modal */
#modal-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close-button:hover,
#modal-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}